{% extends 'layouts/layout.html.twig' %}

{% block title %}Hubungi kami{% endblock %}

{% block content %}
    <section id="contact-us" class="iq-our-touch iq-bg-fixed iq-over-black-90" style=" background: url({{ app.request.basepath }}/public/assets/img/bg-2.png);">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="iq-get-in iq-pall-40 white-bg">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="heading-title iq-mb-60">
                                <h2 class="title iq-tw-6">Hubungi kami</h2>
                                <div class="divider"></div>
                                <p>Bila anda mempunyai pertanyaan, keluhan atau kritik dan saran untuk perkembangan Aplikasi pembayaran YAP!, silahkan isi form berikut ini secara lengkap.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="formmessage">Success/Error Message Goes Here</div>
                        <form class="form-horizontal" id="contactform" method="post" action="">
                            <div class="contact-form">
                                <div class="col-sm-6">
                                    <div class="section-field">
                                        <input id="name" type="text" placeholder="Nama*" name="name" required>
                                    </div>
                                    <div class="section-field">
                                        <input type="email" placeholder="Email*" name="email" required>
                                    </div>
                                    <div class="section-field">
                                        <input type="text" placeholder="Nomor Selular*" name="phone" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="section-field textarea">
                                            <textarea class="input-message" placeholder="Pesan*" rows="7"
                                                      name="message" required></textarea>
                                    </div>
                                    <input type="hidden" name="action" value="sendEmail"/>
                                    <button id="submit" name="submit" type="submit" value="Send"
                                            class="button pull-right iq-mt-40">Kirim pesan
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div id="ajaxloader" style="display:none"><img class="center-block mt-30 mb-30"
                                                                       src="images/ajax-loader.gif" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
{% endblock %}
